
[download_setting]

obspy_mdl_script = True
iris_fetch_script = True
startdate = 
enddate = 

[station_setting]

station_list = /Users/omid/Desktop/gdp/test/stations.dat
station_channels = BHZ HHZ
station_location_codes = 00 10
station_maxlat =
station_maxlon =
station_minlat =
station_minlon =

[event_setting]

event_list = /Users/omid/Desktop/gdp/test/events.dat
event_min_mag = 
event_minlon = -180.0
event_maxlon = 180.0
event_minlat = -90.0
event_maxlat = 90.0

[datacenters]

auspass = False
bgr = False
eth = False
geofon = False
icgc = False
ingv = False
iris = True
irisph5 = True
koeri = False
lmu = False
ncedc = False
niep = False
noa = False
odc = False
orfeus = False
raspishake = False
resif = False
resifph5 = False
scedc = False
texnet = False
usp = False

[dependencies]

perl = /usr/bin/perl
sac = /usr/local/sac/bin/sac
gmt = /usr/local/bin/gmt
