
[download_setting]

obspy_mdl_script = True
iris_fetch_script = True
startdate = 
enddate =

[station_setting]

station_list = /mnt/c/Users/Omid/Desktop/gdp/stations.dat
station_channels = BHZ HHZ
station_location_codes = 00 10
station_maxlat =
station_maxlon =
station_minlat =
station_minlon =

[event_setting]

event_list = /mnt/c/Users/Omid/Desktop/gdp/events.dat
event_min_mag = 
event_minlon = -180.0
event_maxlon = 180.0
event_minlat = -90.0
event_maxlat = 90.0

[datacenters]

AUSPASS = False
BGR = False
ETH = False
GEOFON = False
ICGC = False
INGV = False
IRIS = True
IRISPH5 = True
KOERI = False
LMU = False
NCEDC = False
NIEP = False
NOA = False
ODC = False
ORFEUS = False
RASPISHAKE = False
RESIF = False
RESIFPH5 = False
SCEDC = False
TEXNET = False
USP = False

[dependencies]

perl = /usr/bin/perl
sac = /usr/local/sac/bin/sac
gmt = /home/marco/Documents/GMT/bin/gmt
    