global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude __pycache__
global-include *.pyx
include src/gdp/*
include src/gdp/data/*
include src/gdp/data/tectonics/*
include src/gdp/data/images/*
include src/gdp/data/images/icons/*
